<!DOCTYPE html>
<html>
    <head>
        <title>SO-SURE Node JS Task</title>
    </head>
    <body>
        <h4>SO-SURE Node JS Task</h4>
        <p>The task is to create Web API endpoints for the following:</p>
        <ul>
            <li>Get all phones</li>
            <li>Get single phone details</li>
            <li>Update phone</li>
            <li>Delete phone</li>
        </ul>
        <p>Phones must be stored in Mongo or MySQL Database.</p>
        <p>Please refer to README.md for details.</p>
    </body>
</html>